torch>=2.2,<3
numpy>=1.26,<3
gymnasium==1.3.0
mo-gymnasium[mujoco]==1.3.2
mujoco==3.12.0
morl-baselines @ git+https://github.com/LucasAlegre/morl-baselines.git@a8acdbba3e8a4738cd4f3e3cfe57d151e8583892
